<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>The length of the rectangle is: {{.}}</p>
    <p>The width of the rectangle is: {{.}}</p>
    <p>The area of the rectangle is: {{.}}</p>
    <p>Source code for this page : 
        <a mimetype="text/plain" href="../static/area.txt"></a>
    </p>
</body>
<footer>
    <p><a href="mailto:sirraymondarzu@gmail.com">sirraymondarzu@gmail.com</a></p>
</footer> 
</html>