<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topot</title>
</head>
<body>
    <form action="/area-calculator-2" method="POST">
        <label for="">What is the length of the rectangle.</label>
        <input type="text" name="length">
        <label for="">What is the width of the rectangle?</label>
        <input type="text" name="width">
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    
</body>
</html>